.title {
    width: 800px;
    height: 500px;
    border: 5px solid red ;
    background-image: url("https://thumbs.dreamstime.com/b/autumn-fall-nature-scene-autumnal-park-beautiful-77869343.jpg");
    box-shadow: 0 5px 10px red;
    margin: 0 auto;
}