/* .title {
    width: 800px;
    height: 500px;
    border: 5px solid red ;
    background-image: url("https://thumbs.dreamstime.com/b/autumn-fall-nature-scene-autumnal-park-beautiful-77869343.jpg");
    box-shadow: 0 5px 10px red;
    margin: 0 auto;
} */

.container {
    width: 1440px;
    height: 3921px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 200px;
}

.content {
    margin-left: 100px;
}
.title {
    margin-left: 100px;
}
.box {
    margin-left: 100px;
}